.images{
    margin: 15px 1.8vw;
    /* margin: 0px; */
    /* margin-top: 2vh; */
}

.images img{
    height: 300px;
}

.carousel .thumb{
    width: 5%;
    height: 50px;
}

.carousel{
    text-align: center;
    color: aqua;
    overflow: hidden;
	transform: translateZ(0px);
}
