* {
    margin: 0;
    padding: 0;
}

header {
    background-color: blue;
    color: aliceblue;
    height: 3.5rem;
    display: flex;
    align-items: center;
    display: flex;
    align-items: center;
    padding: 0 16vw;
    /* justify-content: center; */
    
}

@media screen and (max-width: 1180px) {
    header{
        display: block;
        height: 130px;
        padding: 20px 0px;
    }
    header input{
        width: 100%;
    }
    .login-button-div{
        
        margin: 10px auto;
        display: flex;
        justify-content: center;
    }
}
.login-button-div{
    display: flex;
}

.cart-div{
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header input {
    height: 1.5rem;
    border-radius: 4px;
    width:18rem;
    position: relative;
    background-color: rgba(255, 255, 255, 0.3);
    transition: 0.3s all;
    border-style: none;
    margin-left: 0.3rem;
    font-size: small;
    background-color: white;
}

header input:focus{
    outline: none;
}

header p{
    cursor: pointer;
    text-align: center;
    font-size: 14px;
}

img {
    width: 6rem;
    height: 35px;
}

.search {
    background-color: white;
    display: flex;
    align-items: center;
    margin-left: 0.5rem;
    border-radius: 2px;
    height: 2rem;
    width: 27vw;
    justify-content: space-between;
}

.search input{
    width: 100%;
}
@media screen and (max-width: 1180px) {
    .search{
        width: 98%;
    }
}

.icon {
    cursor: pointer;
    padding: 0 0.5vw;
}

#fl-logo{
    width: 75px;
    height: 24px;
    
}
@media screen and (max-width: 1180px) {
    .fl-logo-div{
        display: flex;
        justify-content: center;
    }
}

.login {
    cursor: pointer;
    background-color: white;
    border: none;
    height: 2rem;
    width: 7rem;
    border-radius: 19px;
    color: blue;
    margin: 0 5vw;
}

.cart{
    display: flex;
    align-items: center;
    font-size: 12px;
    /* margin-left: 5vw; */
}

