.productDetails {
    display: flex;
    /* background-color: antiquewhite; */
    /* align-items: center; */
    justify-content: center;
    margin: 0.5rem;
    margin-top: 0.7rem;
    cursor: default;
    overflow: hidden;
}

.image {
    /* background-color: aliceblue; */
    /* height: 200px; */
    /* width: 200px; */
    /* border: 1px solid rebeccapurple; */
    color: green;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image img {
    height: 200px;
    width: 200px;
    object-fit: contain;
}

.details {
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    width: 60vw;
}

.highlights {
    /* background-color: aqua; */
    /* height: 25vh; */
    margin: 0 2rem;
    width: 600px;
}

.price {
    /* background-color: aquamarine; */
    width: 16vw;
    display: flex;
}

.reviews {
    display: flex;
    color: gray;
    align-items: center;
}

.ratting {
    background-color: green;
    border-radius: 2px;
    color: white;
    /* font-size: larger; */
    /* text-align: center; */
    /* width: 2.2rem; */
    /* margin:0 0.5rem; */
    /* display: flex; */
    align-items: center;
    justify-content: center;
    /* text-align: center; */
}

.highlight {
    /* margin: 0.5rem; */
}

ul li::before {
    content: "\2022";
    color: gray;
    font-weight: bold;
    display: inline-block;
    width: 1em;
}

.priceDetails {
    /* background-color: aliceblue; */
    display: flex;
    flex-direction: column;
}

.off {
    display: flex;
}

.off p {
    color: gray;
    /* font-size: medium; */
    text-decoration: line-through;
}

.off span {
    color: green;
}

.price img {
    margin-left: 1rem;
}

h2 {
    font-weight: 300;
}

h3 {
    font-weight: 300;
}

li {
    font-weight: 100;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    /* width: 650px; */
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.product-main-div{
    min-width: 900px;
    /* margin: 50px; */
    /* display: flex; */
    /* justify-content: space-between; */
    /* flex-wrap: wrap; */
}